@import "mixins.less";

body {
    overflow: hidden;
}

p {
    margin: 10px 0;
}

.nav iframe {
    margin-top: 8px;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

#map img {
    /* work around Bootstrap / Google Maps CSS conflict */
    /* https://github.com/twitter/bootstrap/issues/1552 */
    max-width: none;
}

#details_close {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 20px;
    color: inherit;
}

#details_close:hover {
    text-decoration: none;
}

#story_details {
    background-color: rgba(21, 21, 21, 0.9);
    color: #ccc;
    overflow-y: auto;
    overflow-x: hidden;
}

#story_details {
    .transition(right, .2s);

    position: absolute;
    top: 40px;
    bottom: 0;

    .border-box;
    padding: 30px;
    right: -33%;
    width: 33%;
}

#story_details.expanded {
    right: 0;
}

.story {
    margin-bottom: 40px;
}

.story_marker {
    .transition(border-color, .2s);
    border: 2px solid #ccc;
    width: 75px;
    height: 75px;
}

.roadmap .story_marker {
    border-color: #333;
}

.story_marker:hover {
    .transform(rotate(3deg));
    cursor: pointer;
}

.zoom4 .story_marker {
    width: 70px;
    height: 70px;
}

.zoom3 .story_marker {
    width: 65px;
    height: 65px;
}

.zoom2 .story_marker {
    width: 60px;
    height: 60px;
}

.zoom1 .story_marker {
    width: 55px;
    height: 55px;
}