@import "mixins.less";

body {
    overflow: hidden;
}

p {
    margin: 10px 0;
}

.nav iframe {
    margin-top: 8px;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

#map img {
    /* work around Bootstrap / Google Maps CSS conflict */
    /* https://github.com/twitter/bootstrap/issues/1552 */
    max-width: none;
}

@import "story_details.less";
@import "markers.less";