.marker_size(@size) {
    max-height: @size;
    max-width: @size;
}

#map {
    .story_marker {
        .transition(border-color, .2s);
        .marker_size(75px);

        &.border {
            border: 2px solid #ccc;
        }
    }

    &.roadmap .story_marker {
        border-color: #333;
    }

    .story_marker:hover {
        .transform(rotate(3deg));
        cursor: pointer;
    }

    &.zoom4 .story_marker {
        .marker_size(70px);
    }

    &.zoom3 .story_marker {
        .marker_size(65px);
    }

    &.zoom2 .story_marker {
        .marker_size(60px);
    }

    &.zoom1 .story_marker {
        .marker_size(55px);
    }
}