.transition (@property, @duration) {
    -webkit-transition: @property @duration;
    -moz-transition: @property @duration;
    -ms-transition: @property @duration;
    -o-transition: @property @duration;
    transition: @property @duration;
}

.border-box() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
